<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771661705131-do6lac23nem0g9uihpah23us4djm23b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771661705131-do6lac23nem0g9uihpah23us4djm23b0</string>
	<key>API_KEY</key>
	<string>AIzaSyAxPdYchN65P-3UIZAEMqfAPBaA5ANUJBU</string>
	<key>GCM_SENDER_ID</key>
	<string>771661705131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controlMed</string>
	<key>PROJECT_ID</key>
	<string>controlmed-88626</string>
	<key>STORAGE_BUCKET</key>
	<string>controlmed-88626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771661705131:ios:316e5f8557b0a4c779ecee</string>
</dict>
</plist>